{% extends "main.html" %}
{% load crispy_forms_tags %}
{% block title %}Edit Staff{% endblock %}
{% block content %}
<div class="page-container mt-4">
  <h3>Edit Staff - {{ user_obj.username }}</h3>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}

      {% if photo %}
      <div class="mb-3">
          <label>Current Photo:</label><br>
          <img src="{{ photo }}" width="100" height="100" class="rounded border" alt="Current Photo">
      </div>
      {% endif %}

      <button type="submit" class="btn btn-primary">Save Changes</button>
      <a href="{% url 'staff_dashboard' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}
