{% extends "main.html" %}
{% load crispy_forms_tags %}
{% block title %}Staff{% endblock %}
{% block content %}
<a href="{% url 'add_requestor' %}" class="btn btn-primary">Add Requestor</a>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for requestor in requestors %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ requestor.name }}</td>
            <td>{{ requestor.contact }}</td>
            <td>{{ requestor.email_address }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
