{% extends "main.html" %}
{% load crispy_forms_tags %}
{% block title %}DriverAdd{% endblock %}
{% block header %}Add a Driver{% endblock %}
{% block content %}
    <div class="form-container">
        <h1>Add Driver</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Add Driver</button>
            <a href="{% url 'drivers' %}" class="btn btn-primary">Cancel</a>
        </form>
    </div>
{% endblock %}
