<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %} <!-- Load static template tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Add Driver</title>
</head>
<body>
    <div class="form-container">
        <h1>Add Driver</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Driver</button>
        </form>
        <a href="{% url 'home' %}">Back to Home</a>
    </div>
    
</body>
</html>

