{% extends "main.html" %}
{% load crispy_forms_tags %}
{% block title %}ServiceProviderDelete {% endblock %}
{% block header %}Delete ServiceProvider{% endblock %}
{% block content %}
<div class="form-container">
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to delete the ServiceProvider {{ service_provider_list }}?</p>
    <form method="POST">
      {% csrf_token %}
      <button type="submit">Yes, Delete</button>
      <a href="{% url 'service_provider_list' %}" class="btn btn-primary">Cancel</a>
    </form>
  </div>
  {% endblock %}
